
.body {
    background-image: linear-gradient(#BCC5CE , #939FAE);

    /* background-color: #7cc6fe; */
display: flex;
align-items: center;
justify-content: center;
font-family: "Poppins", sans-serif;
margin: 0;
padding: 0;
position: relative;
/* padding-top: 30px; */
height: 100vh;
}

.container{
position: relative;
/* background: radial-gradient(#BCC5CE , #939FAE); */
/* background-image: linear-gradient(#71C5EE,#025091); */
/* background: radial-gradient( #71C5EE, #025091); */

background-color: #252d4a;
width: 500px;
min-height: 200px;
height: fit-content;
border-radius: 15px;
padding: 20px;
box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
display: flex;
justify-content: space-evenly;
color: white;

}
.question-section{
 width: 54%;
  min-height:10px;
height: fit-content;
/* background-color: aqua; */
position: relative;
}
.question-show{
width: 45%;

}
.anser-section{
height: 30vh;
height: fit-content;
/* background-color: aqua; */
  width: 500px;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.question-show-content{
    /* background: aqua; */
height: 11ch;
width: 262px;
font-size: 19px;
font-weight: 700;

}
.button-option{
margin-bottom: 10px;

font-size: 16px;
color: #ffffff;

background-color: #252d4a;
border-radius: 15px;
display: flex;
padding: 5px;
justify-content: flex-start;
align-items: center;
border: 5px solid #234668;
cursor: pointer;
}
.button-option:hover {
background-color: #555e7d;
}
.button-container{
position: absolute;
bottom: 0;
}
.action-button{
width: 99%;
height: 20vh;
height: fit-content;
display: flex;
column-gap: 10%;
justify-content: center;
align-items: center;


}
.btn-quit {
background-image: linear-gradient(#BCC5CE , #3d72b3);
border-radius: 15px;
width: 102px;
height: 34px;
cursor: pointer;
color: #ffffff;
}
.btn-next{
background-image: linear-gradient(#BCC5CE , #3d72b3);

border-radius: 15px;
width: 102px;
height: 34px;
cursor: pointer;
color: #ffffff;
}